* {
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

html, body {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
}

html, body, .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body .container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Roboto', sans-serif;
}

#app a, #app a:hover, #app a:focus {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none !important;
}

a, abbr, acronym, address, applet, article,
aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul > li {
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.toggle-fixed-box {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 54px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    z-index: 1000;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.toggle-fixed-options > div {
    line-height: 0;
    cursor: pointer;
    padding: 15px 19px 15px 15px;
}

#map, #main-container {
    height: 100%;
    width: 100%;
}

#left-pane {
    position: absolute;
    height: 100%;
    width: 360px;
    left: 0px;
    z-index: 1001;
    background-color: #FFF;
    -webkit-transform: translateX(-360px);
    transform: translateX(-360px);
    transition-duration: 0.3s;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.left-menu-open #left-pane {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.left-pane-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 360px;
    padding: 0px 12px;
    background-color: #FFF;
}

.mapache-main {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.sidebar-header {
    height: 64px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;

    line-height: 64px;
    font-size: xx-large;
}

.logo-icon {
    height: 100%;
    width: 100%;
    padding: 12px 22px;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.logo-icon > img {
    height: 100%;
}

.sidebar-header-options {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.sidebar-header-options > div {
    line-height: 0;
    cursor: pointer;
    padding: 20px 24px 20px 20px;
}

/*
 * Main content outside home
 */
.main-content {
    height: 100%;
    overflow-y: auto;
}

.article {
    padding-top: 74px;
    width: 760px;
    margin: auto;
}

/*
 * PARCHAZO! Cambiar esto ASAP
 */
.article h1 {
    color: #F44336;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 30px;
}

.article h2 {
    color: #F44336;
    border-top: 1px solid rgba(0,0,0,.12);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 40px;
    margin-top: 40px;
}

.article h2:nth-of-type(1) {
    border: none;
    margin-top: 0;
}

.article h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.article h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;
    overflow: hidden;
}

.article p {
    margin-bottom: 20px;
}

.article ul ul {
    margin-left: 20px;
}
